.custom-landing-page {
  --background: url('/assets/background-landing.png') 0 0/100% 100% no-repeat; // BG image
  background-size: cover; // Cover the entire area
  background-position: center; // Center the image
  background-repeat: no-repeat; // Prevent repeating the image

  .feature-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
  
    .feature-card {
      width: calc(33.333% - 20px); // Subtract the total margin from the width
      margin: 0 10px; // Give some space between the cards
  
      ion-card-header {
        text-align: center;
        background: transparent; // Make the background transparent
        color: #ffffff; //white for better contrast
      }
    }
  }

  .cta-section {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    .cta-button {
      max-width: 90%;
      font-weight: bold;
      background-color: #304875; // New button color to match the background
      color: #ffffff; // white for better contrast
      font-size: 1.2em;
      padding: 15px 30px;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

    .cta-button:active {
      transform: scale(0.95); // Subtle click effect
    }
  }
}
