.custom-toolbar {
  --background: #94ffa9; // Set the background color 
  --color: #fff; // Set the text color
}

.forgot-password-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  // Align items horizontally to the center 
    height: 100%;         // Take the full height of the container 

    padding: 20px;
    max-width: 400px;       // Set a max width for the content 
    margin: 0 auto;        // Center the content horizontally 
  }
  
  .instruction-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .input-section {
    margin: 20px 0;
  }
  
  .submit-section {
    margin-top: 20px;
  }
  
  ion-button {
    --background: #AA336A;  // Green Color 
    --color: #ffffff;      // Text Color: White 
  }
  