<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="forgot-password-content">
  <div class="instruction-section">
    <h1>Enter Your Email</h1>
    <p>To receive a reset password link</p>
  </div>

  <div class="input-section">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" class="input"></ion-input>
    </ion-item>
  </div>

  <div class="submit-section">
    <ion-button expand="block" shape="round" (click)="resetPassword()">
      Send Reset Link
    </ion-button>
  </div>
</ion-content>
