<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="title">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="regForm" (ngSubmit)="signUp()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Create Your Account</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="fullname"></ion-input>
        </ion-item>
        <div *ngIf="regForm.get('fullname').touched && regForm.get('fullname').invalid">
          <ion-text color="danger" *ngIf="regForm.get('fullname').hasError('required')">
            Name is required.
          </ion-text>
        </div>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
          <ion-text color="danger" *ngIf="regForm.get('email').hasError('required')">
            Email is required.
          </ion-text>
          <ion-text color="danger" *ngIf="regForm.get('email').hasError('pattern')">
            Please enter a valid email.
          </ion-text>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
          <ion-text color="danger" *ngIf="regForm.get('password').hasError('required')">
            Password is required.
          </ion-text>
          <ion-text color="danger" *ngIf="regForm.get('password').hasError('pattern')">
            Password must contain at least one character, one capital letter, one number, and be at least 8 characters long.
          </ion-text>
        </div>

        <div class="ion-padding-top signinLink">
          <ion-button expand="block" type="submit">Sign Up</ion-button>
        </div>

        <div class="ion-padding-top signupLink">
          <a>Already a member?</a>
          <ion-button  expand="block" [routerLink]="['/login']">Sign in</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
