.custom-toolbar {
  --background: #4169e1; // Set the background color 
  --color: #fff; // Set the text color
}

ion-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-card-title {
    text-align: center;
    font-size: 24px;
  }
  