<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
      <ion-avatar>
        <img [src]="chatPartner?.photoURL || 'assets/icon/default.png'">
      </ion-avatar>
      
    
    <ion-title>{{ chatPartner?.displayName || 'Messaging' }}</ion-title>
    <button class="back-button" onclick="history.back()"> <!-- Back button -->
      <img src="../assets/icon/backButton.png" alt="Back"> <!-- Back button -->
    </button> 
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content #content>
  <ion-list>
    <ng-container *ngFor="let item of messages">
      <!-- Handle date separators -->
      <div *ngIf="item.isDate" class="date-separator">
        {{ item.date | date: 'fullDate' }}
      </div>

      <!-- Handle actual messages -->
      <ng-container *ngIf="!item.isDate">
        <div [ngClass]="{'message-sent': isCurrentUser(item.senderId), 'message-received': !isCurrentUser(item.senderId)}">
          <p>{{ item.text }}</p>
          <small>{{ item.timestamp | date: 'shortTime' }}</small>
        </div>
      </ng-container>
    </ng-container>
  </ion-list>

  <form (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-input type="text" [(ngModel)]="message" name="message" placeholder="Type your message here" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Send Message</ion-button>
  </form>
</ion-content>
