<ion-header>
  <ion-toolbar>
    <ion-title>Messaging</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let message of messages" [ngClass]="{'message-sent': isCurrentUser(message.senderId), 'message-received': !isCurrentUser(message.senderId)}">
      <p>{{ message.text }}</p>
      <small>{{ message.timestamp }}</small>
    </div>    
  </ion-list>

  <form (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-input type="text" [(ngModel)]="message" name="message" placeholder="Type your message here" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Send Message</ion-button>
  </form>
</ion-content>