/* Use the same toolbar styling as the login page */
.custom-toolbar {
  --background: #4169e1; 
  --color: #fff;
}

/* Same content area styling as the login page */
ion-content {
  --background: #f4f4f4;
  display: flex;
  justify-content: center; 
  align-items: center; // Align items horizontally to the center
  height: 100vh;// Take the full height of the container
  padding: 20px;
}

/* Same card styling as the login page */
ion-card {
  max-width: 400px; // Set a max width for the content
  margin: 0 auto; // Center the content horizontally 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Same input styling */
ion-item {
  margin-bottom: 15px;
}

/* Same card title styling */
.subTitle {
  text-align: center;
  font-size: 24px;
}

/* Same button styling */
ion-button {
  margin-top: 20px;
  --background: #ffe5b4;
}

/* Same input styling */
.input {
  font-size: 1rem;
}
