/* login.page.scss */

/* Style the header */
ion-header {
  --background: #94ffa9; /* Adjusted for Ionic's coloring system */
}

ion-header, ion-header ion-title {
  color: white;
}

/* Style the content */
ion-content {
  --background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Added padding for better spacing */
}

/* Center the login card */
ion-card {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px; /* Optional: for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: for shadow */
}

/* Style the input fields */
ion-item {
  margin-bottom: 15px;
}

/* Center the card title */
ion-card-title {
  text-align: center;
  font-size: 24px; /* Increased font size for better visibility */
}

/* Center the login button and additional links */
ion-button {
  margin-top: 20px; /* Adjusted spacing */

  &.ion-no-margin {
    margin-top: 0; /* Remove margin for the links below */
  }
}

/* Additional style for the 'Forgot Password?' and 'Sign Up' links */
ion-button[fill="clear"] {
  --color: rgba(0, 0, 0, 0.2)	; /* Primary color for better emphasis */
  font-weight: 500;
}

.input{
  font-size: 300;
}
