<div class="container">

  <ion-header>
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  
  <!-- Header -->
  <header class="app-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="logo">
      <img src="assets/logo.png"/>
    </div>
    <button (click)="logout()">Logout</button>
  </header>

  <ion-app>
    <ion-menu contentId="main-content" side="start">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- User Profile Card -->
        <section class="profile-card menu-top-spacing" *ngIf="user">
          <!-- User Profile button -->
          <ion-button class="profile-icon-button" style="--background:#0000;" (click)="goToProfile()">
            <ion-icon name="person-circle"></ion-icon>
          </ion-button>        
          <!-- User profile picture -->
          <img [src]="user?.photoURL" alt="User Image" class="profile-pic" (click)="triggerFileInput()">

          <!-- Hidden File Input -->
          <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">

          <!-- User name -->
          <h2>{{ user?.displayName || 'User' }}</h2>
          <p>{{ user?.email }}</p>
          <!-- Logout button -->
          <ion-button style="background-color: #ffe5b4;" (click)="logout()">Logout</ion-button>
        </section>
      </ion-content>
    </ion-menu>
  
    <div class="container" id="main-content">
      <!-- Main Content Area -->
      <main class="content-area">
        <!-- Search Bar -->
        <section class="search-bar">
          <input type="text" placeholder="Search...(Users)">
          <button type="submit"><ion-icon name="search"></ion-icon></button>
        </section>
      
        <!-- User Profiles Section
        <div class="box">
          <h3>User Profiles</h3>
          <p>User profiles will be displayed here.</p>
        </div> -->

        <!-- Notes Section -->
        <div class="box">
          <h3>Notes</h3>
          <p>Notes and reminders will be organized here.</p>
        </div>

        <!-- Videos Section -->
        <div class="box">
          <h3>Videos</h3>
          <p>Video content will be shown here.</p>
        </div>

        <!-- Other Features -->
        <div class="box">
          <h3>Other Features</h3>
          <p>Additional features such as feedback, messaging, etc., will be added here.</p>
        </div>
      </main>
    </div>
  </ion-app>

</div>