/* Overall Container */
.container {
  display: flex;
  flex-direction: column;
  // justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height */
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; /* Center text for all child elements */
}

/* Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #4169e1;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1001; /* Higher than the ion-header */
}

.app-header .logo img {
  height: 90px;
  width: auto;
  display: block;
}

.app-header button {
  background-color: #4169e1; /* Softer green color */
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.app-header button:hover {
  background-color: #ffe5b4; /* Darker shade on hover */
}

/* Side Menu Content */
ion-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure children are spread out */
  height: 100%; /* Full height */
}

.menu-top-spacing {
  margin-top: -276px;
}

/* Styling the ion-icon inside the button for the home icon */
.profile-icon-button ion-icon {
  font-size: 32px;
  color: white;
  background-color: #ffe5b4;
}

ion-menu .profile-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%; // Makes the image circular 
  object-fit: cover; // Ensures the image covers the area well
  margin-top: 15px; // Spacing 
  margin-bottom: 15px; // Spacing 
}

/* Profile Card Name and Email */
ion-menu .profile-card h2,
ion-menu .profile-card p {
  color: #333;
  margin: 4px 0; // Spacing 
}

/* Logout Button in Side Menu */
ion-menu ion-button {
  width: 100%; // Full width of the side menu 
  margin-top: 310px; // Push button to the bottom 
  margin-bottom: 0px; // Spacing from bottom 
}

/* Content area */
.content-area {
  padding: 20px;
  margin-top: 20px; // Spacing from the profile card 
}

.content-area h2 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
}



/* Footer */
.app-footer {
  padding: 20px;
  background-color: #ffe5b4;
  color: #fff;
  text-align: center;
  position: fixed; // Fixed at the bottom 
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/* Ensure content is pushed down by the footer */
body {
  margin-bottom: 60px; // Height of the footer 
}



.box {
  border: 2px solid #ddd; /* Adds a border to each box */
  border-radius: 8px; /* Rounded corners for the box */
  padding: 20px; /* Spacing inside the box */
  margin-bottom: 20px; /* Spacing between boxes */
  width: 80%; /* Width of the box */
  text-align: left; /* Align text to the left */
  background-color: #f9f9f9; /* Light background for the box */
}

.box h3 {
  margin-top: 0; /* Removes the top margin from the title */
  color: #4169e1; /* Color of the title text */
}

