/* landing page - Styling */
.custom-landing-page {
  --background: url('/assets/landing.png') 0 0/100% 100% no-repeat; // Set the background image
  background-size: cover; // Covers the entire content area
  background-position: center; // Center the background image
  background-repeat: no-repeat; // Prevent the background image from repeating

  /* Section for the 'Get Started' button */
  .cta-section {
    position: absolute; // Position the section absolutely within the ion-content
    right: 11%; // Align to the right side of the page with a 9.8% offset from the right edge - (Must be changed later for Mobiles)
    top: 50%; // Center vertically
    transform: translateY(-50%); // Adjust for exact vertical centering
    text-align: center; // Center the text (and button) horizontally

    /* Style for the 'Get Started' button */
    .cta-button {
      font-weight: bold; // Button text Bold
      background-color: #304875; // Set the button color
      color: #fff; // Set the text color for contrast
      font-size: 1.2em; // Increase the font size for visibility
      padding: 15px 30px; // Adds padding around the text
      border: none; // Remove any default borders
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Applies a shadow
      transition: transform 0.3s ease; // Animate the transform property

      &:active {
        transform: scale(0.95); // Scale down button when active/clicked
      }
    }
  }
}
