<ion-header class="app-header">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- Back button -->
      <button class="back-button" onclick="history.back()"> <!-- Back button -->
        <img src="../assets/icon/backButton.png" alt="Back"> <!-- Back button -->
      </button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-listing">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearchQueryChange()" placeholder="Search users..."></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let user of filteredUsers" (click)="onUserSelect(user)">
        <ion-avatar slot="start">
          <img [src]="user.photoURL || 'assets/icon/default.png'">
        </ion-avatar>
        <ion-label>
          <h2>{{ user.displayName }}</h2>
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
