/* Styling for the header of the page */
ion-header {
  background-color: #4169e1; // Royale Blue
  ion-toolbar {
    --background: transparent; // Makes the toolbar background transparent

    ion-title {
      color: #fff; // Sets the title color to white for better contrast
      font-size: 22px; // 22Px font sizw
      text-transform: uppercase; // Uppercase title for a more better appearance
      font-weight: bold; // Bold title 
      text-align: center; // Centers the title text
    }
  }
}

.user-listing {
    ion-searchbar {
      --background: #fff;
      margin-bottom: 1rem;
    }
  
    ion-list {
      margin-top: 1rem;
    }
  
    ion-item {
      --border-width: 0px;
      --inner-border-width: 0px;
      --padding-start: 1rem;
      --padding-end: 1rem;
      --inner-padding-end: 1rem;
      display: flex;
      align-items: center;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #f2f2f2;
      }
  
      ion-avatar {
        --border-radius: 50%;
        margin-right: 1rem;
      }
  
      ion-label {
        h2 {
          font-weight: bold;
          margin-bottom: 0.25rem;
        }
  
        p {
          font-size: 0.8rem;
          color: #666;
        }
      }
    }
}

/* Back button */
.back-button {
  background: none; // Removes any default styling
  border: none;
  cursor: pointer;

  img {
    width: 24px; 
    height: auto;
    display: block; // Ensure the icon is centered within the button
  }

  &:hover {
    opacity: 0.8; // Slight visual feedback on hover
  }
}
  