<div class="container">

  <!-- Header -->
  <header class="app-header">
    <div class="logo" >
      <img src="assets/logo.png"/>
    </div>
    <button (click)="logout()">Logout</button>
  </header>

  <!-- User Profile Card -->
  <section class="profile-card">
    <img src="" alt="User Image" class=""/>
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
  </section>

  <!-- Main Content Area -->
  <main class="content-area">
    <h2>Welcome to Skill Swap Connect</h2>
    <p>.</p>
  </main>

  <!-- Footer -->
  <footer class="app-footer">
    <p>&copy; 2023 Skill Swap Connect. All rights reserved.</p>
  </footer>

</div>
