/* Overall Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; // Center content vertically 
  align-items: center; // Center content horizontally 
  height: 100vh; // Full viewport height 
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; // Center text for all child elements 
}

/* Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%; // Full width 
  background-color: #333;
  color: #fff;
  position: fixed; /* Fixed at the top */
  top: 0;
  z-index: 1000; // Ensures it stays above other content
}

.app-header .logo img {
  height: 80px; 
  display: block;
}

.app-header button {
  background-color: #4CAF50; // Softer green color 
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.app-header button:hover {
  background-color: #43A047; // Darker shade on hover 
}

/* Profile Card */
// .profile-card {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 20px;
//   background: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   border-radius: 10px;
//   margin-top: 100px; // Spacing from the fixed header 
// }

// .profile-card img {
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
//   background: #eee; /* Placeholder background color */
//   margin-bottom: 20px; /* Spacing from the image to the text */
// }

/* Side Menu Content */
ion-menu {
  --width: 250px; // Adjust the width of the side menu as needed */
}

/* Profile Card in Side Menu */
ion-menu .profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fff;
}

ion-menu .profile-card img {
  width: 80px; /* Adjust the size as needed */
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px; /* Adjust spacing as needed */
}

/* Profile Card Name and Email */
ion-menu .profile-card h2,
ion-menu .profile-card p {
  color: #333;
  margin: 4px 0; /* Adjust spacing as needed */
}

/* Logout Button in Side Menu */
ion-menu ion-button {
  width: 100%; // Full width of the side menu
  margin-top: 15px; // Adjust spacing
}


/* Welcome Message */
.content-area {
  padding: 20px;
  margin-top: 20px; // Spacing from the profile card 
}

.content-area h2 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Footer */
.app-footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed; // Fixed at the bottom 
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/* Ensure content is pushed down by the footer */
body {
  margin-bottom: 60px; // Height of the footer 
}