<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">UserDetail</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-header>
  <ion-toolbar>
    <ion-title>{{ userDetails.displayName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-details">
    <img [src]="userDetails.photoURL || 'assets/default-profile.png'" alt="Profile Image">
    <h2>{{ userDetails.displayName }}</h2>
    <p>{{ userDetails.bio }}</p>
  </div>
</ion-content>

